<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            {% if user.is_authenticated %}
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="name">{{ user.username }}</span></a>
            <a href="#email"><span class="email">{{ user.email }}</span></a>
            {% else %}
            <a href="#"><span class="no_user">Not logged In</span></a>
            {% endif %}
        </div>
    </li>
    {% if user.is_authenticated %}
    <li><a href="#!"><i class="material-icons">info</i>User Info</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Presentations</a></li>
    <li><a class="waves-effect" href="#!">Presentation #1</a></li>
    {% else %}
    <li><a href="#!"><i class="material-icons">info</i>Log in to view content</a></li>
    <li>
        <div class="divider"></div>
    </li>
    {% endif %}
</ul>
